.nav-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.links-container {
    display: flex;
}

@media(min-width: 900px) {
    .nav-container {
        margin: 0;
        justify-content: space-between;
    }
}

a:hover, a:active, a:focus {
    outline: 0;
}